/backend/src/Common/Common.WebApi/obj
/backend/src/Common/Common.WebApi/bin
/backend/src/Common/Common.Utils/bin
/backend/src/Common/Common.Utils/obj
/backend/src/Common/Common.Services.Infrastructure/bin
/backend/src/Common/Common.Services.Infrastructure/obj
/backend/src/Common/Common.Services/obj
/backend/src/Common/Common.Services/bin
/backend/src/Common/Common.IdentityManagement/obj
/backend/src/Common/Common.IdentityManagement/bin
/backend/src/Common/Common.Entities/obj
/backend/src/Common/Common.Entities/bin
/backend/src/Common/Common.DTO/obj
/backend/src/Common/Common.DTO/bin
/backend/src/Common/Common.DIContainer/bin
/backend/src/Common/Common.DIContainer/obj
/backend/src/Common/Common.DataAccess.EntityFramework/obj
/backend/src/Common/Common.DataAccess.EntityFramework/bin
/backend/src/packages
/backend/src/.vs
